.root {
  position: relative;
  min-width: 240px;
  max-width: 240px;
  min-height: 80px;
  max-height: 240px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin: 5px;
  flex-grow: 1;
  word-break: break-all;
  overflow: hidden;
}

.root:hover .tools {
  display: flex;
}

.tools {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  align-items: center;
  height: 30px;
  padding: 3px 5px;
  background-color: #fafafa;
}

.delete {
  margin: 0;
  width: 23px;
  height: 23px;
  border: none;
  background-color: transparent;
  font-size: 23px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}
