@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Source+Code+Pro&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.05em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
ol,
ul,
table {
  margin: 0 0 16px;
}

pre,
code {
  font-family: 'Source Code Pro', monospace;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
